
Palindrome checker/.vs/Palindrome checker/FileContentIndex/0503d583-03ba-4c79-8bc9-5eee1cabd8f2.vsidx
Palindrome checker/.vs/Palindrome checker/FileContentIndex/e211410d-27b5-4f31-b209-7f8ffabb6448.vsidx
Palindrome checker/.vs/Palindrome checker/FileContentIndex/f1fbb8e3-513e-4926-bd9a-b99534349b6d.vsidx
*.db
Palindrome checker/.vs/Palindrome checker/v17/Browse.VC.db-shm
Palindrome checker/.vs/Palindrome checker/v17/Browse.VC.db-wal
Palindrome checker/.vs/Palindrome checker/v17/Browse.VC.opendb
Palindrome checker/.vs/Palindrome checker/v17/ipch/AutoPCH/fd31cb29e5b307a0/PALICHECKER.ipch
